<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BEM VINDO AO NOSSO SITE</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/cliente/css/estilolink.css' %}">
        <link rel="shortcut icon" href="{% static '/cliente/img/icone_flor.png' %}"/>
    </head>
    <body>
        <div id="principal">
            <div id="menu">
                <ul>
                    <li><a href="{% url 'Home' %}">Ver menus</a></li>
                    <li><a href="{% url 'Lista Cliente' %}">Listagem de Clientes cadastrados</a></li>
                    <li><a href="{% url 'Lista Funcionario' %}">Listagem de Funcion&aacute;rios cadastrados</a></li>
                    <li><a href="{% url 'Lista Produto' %}">Listagem de Produtos cadastrados</a></li>
                    <li><a href="{% url 'Lista Venda' %}">Listagem de Vendas efetuadas</a></li>
                    <li><a href="{% url 'Cadastro Erro' %}">Relatar erro</a></li>
                    <li><a href="{% url 'Sobre' %}">Sobre n&oacute;s</a></li>
                </ul>
            </div>
            <div id="corpo">

            </div>
            <div id="rodape">
                <h1>Floricultura - MiniDevs</h1>
            </div>
        </div>
    </body>
</html>