<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>BEM VINDO AO NOSSO SITE</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="/static/cliente/css/estilolink.css">
</head>
    <body>
        <div id="principal">
            <div id="menu">
                <ul>
                    <li><a href="{% url 'Home' %}">Ver menus</a></li>
                    <li><a href="{% url 'Lista Cliente' %}">Listagem de Clientes cadastrados</a></li>
                    <li><a href="{% url 'Lista Funcionario' %}">Listagem de Funcion&aacute;rios cadastrados</a></li>
                    <li><a href="{% url 'Lista Produto' %}">Listagem de Produtos cadastrados</a></li>
                    <li><a href="{% url 'Lista Venda' %}">Listagem de Vendas efetuadas</a></li>
                    <li><a href="{% url 'Cadastro Erro' %}">Relatar erro</a></li>
                    <li><a href="{% url 'Sobre' %}">Sobre n&oacute;s</a></li>
                </ul>
            </div>
            <div id="corpo">

            </div>
            <div id="rodape">
                <h1>Floricultura - MiniDevs</h1>
            </div>
        </div>
    </body>
</html>

