<!doctype html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
</head>
<body>
    <h1>LISTA DE VENDAS</h1>
    <ul>
        {% for Vendas in venda %}
        <li><a href="{% url 'Atualizar Venda' Vendas.id_venda %}">  {{ Vendas.nome_venda }} - {{ Vendas.clinte }} - {{ Vendas.funcionario }} - {{ Vendas.produto }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'Cadastro Venda' %}">Cadastrar nova venda</a></p>
</body>
</html>