<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lista de Funcion&aacute;rios</title>
    </head>
    <body>
        <h1>LISTA DE FUNCION&Aacute;RIOS</h1>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>RG</th>
                        <th>ENDERE&Ccedil;O</th>
                        <th>TELEFONE</th>
                        <th>|DATA ADMISS&Atilde;O|</th>
                        <th>SAL&Aacute;RIO</th>
                    </tr>
                </thead>
                {% for Funcionarios in funcionario %}
                    <tr>
                        <td><a href="{% url 'Atualizar Funcionario' Funcionarios.id_funcionario %}">{{ Funcionarios.nome_funcionario }}</a></td>
                        <td>{{ Funcionarios.rg_funcionario }}</td>
                        <td>{{ Funcionarios.endereco_funcionario }}</td>
                        <td>{{ Funcionarios.telefone_funcionario }}</td>
                        <td>|{{ Funcionarios.data_admissao }}|</td>
                        <td>{{ Funcionarios.salario }}</td>
                    </tr>
                {% empty %}
                    <h3>Sem funcion&aacute;rios cadastrados.</h3>
                {% endfor %}
            </table>
        </div>
        <hr/>
        <p><a href="{% url 'Cadastro Funcionario' %}">Cadastrar novo funcion&aacute;rio</a></p>
        <p><a href="{% url 'Base' %}">Voltar para o in&iacute;cio</a></p>
        <p><a href="{% url 'Home' %}">Ver menus</a></p>
    </body>
</html>