<!doctype html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
</head>
<body>
    <h1>LISTA DE CLIENTES</h1>
    <ul>
        {% for Clientes in cliente %}
        <li><a href="{% url 'Atualizar Cliente' Clientes.id_cliente %}">  {{ Clientes.nome_cliente }} - {{ Clientes.telefone_cliente }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'Cadastro Cliente' %}">Cadastrar novo cliente</a></p>


</body>
</html>