<!doctype html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
</head>
<body>
    <h1>LISTA DE FUNCION&Aacute;RIOS</h1>
    <ul>
        {% for Funcionarios in funcionario %}
        <li><a href="{% url 'Atualizar Funcionario' Funcionarios.id_funcionario %}">  {{ Funcionarios.nome_funcionario }} - {{ Funcionarios.telefone_funcionario }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'Cadastro Funcionario' %}">Cadastrar novo funcion&aacute;rio</a></p>


</body>
</html>