<!doctype html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
</head>
<body>
    <h1>LISTA DE PRODUTOS</h1>
    <ul>
        {% for Produtos in produto %}
        <li><a href="{% url 'Atualizar Produto' Produtos.id_produto %}">  {{ Produtos.nome_produto }} - {{ Produtos.valor }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'Cadastro Produto' %}">Cadastrar novo produto</a></p>
</body>
</html>