<!doctype html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>
</head>
<body>
    <h1>LISTA DE CLIENTES</h1>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>RG</th>
                    <th>ENDERE&Ccedil;O</th>
                    <th>TELEFONE</th>
                </tr>
            </thead>
            {% for Clientes in cliente %}
                <tr>
                    <td><a href="{% url 'Atualizar Cliente' Clientes.id_cliente %}">{{ Clientes.nome_cliente }}</a></td>
                    <td>{{ Clientes.rg_cliente }}</td>
                    <td>{{ Clientes.endereco_cliente }}</td>
                    <td>{{ Clientes.telefone_cliente }}</td>
                </tr>
            {% empty %}
                <h3>Sem clientes cadastrados.</h3>
            {% endfor %}
        </table>
    </div>
    <hr/>
    <p><a href="{% url 'Cadastro Cliente' %}">Cadastrar novo cliente</a></p>
    <p><a href="{% url 'Base' %}">Voltar para o in&iacute;cio</a></p>
    <p><a href="{% url 'Home' %}">Ver menus</a></p>
</body>
</html>