<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Sobre a empresa</title>
    </head>
    <body>
        <p>Floricultura - MiniDevs tem finalidade educacional...</p>
        <p>Utilizamos o Framework Django para nos ajudar à constr&iacute;-lo.</p>
        <br/>
        <p>Foi desenvolvido por:</p>
        <p>Anderson;</p>
        <p>Denilson;</p>
        <p>J&aacute;rdesson;</p>
        <p>Johnny;</p>
        <p>La&iacute;s;</p>
        <p>Nayara Aguiar;</p>
        <br/>
        <p><a href="{% url 'Base' %}">Voltar para o in&iacute;cio</a></p>
    </body>
</html>