#positiontable{
    position: relative;
    text-align: center;
    margin-left: 30%;
}
#titulo{
    position: relative;
    text-align: center;
    margin-left: 30%;

}
h1{

    position:relative;
    margin-right:50%;
    font-size: 45px;
}
tr{
    position: relative;
}
th{
     width: 150px;
}

p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
a:hover {
  background-color: #555;
  color: white;
}
hr{
     width: 40%;
     height: 10%;

}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
*, ::after, ::before {
    box-sizing: border-box;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
th {
    text-align: inherit;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    border-collapse: collapse;
    border-spacing: 2px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
